body {
  margin: 50px 0;
  padding: 0;
  font-family: Helvetica, sans-serif, Tahoma, Arial;
}

.post{
	margin: 30px;
	box-shadow: 0 0 10px #000;
	display: flex;
	height: 300px;
}

.post__image{
	flex: 0.3;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.post__info{
	flex: 1;
}